@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Hv.svg#HelveticaNeueLTStd-Hv") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Blk.eot");
  src: url("../fonts/HelveticaNeueLTStd-Blk.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Blk.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Blk.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Blk.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  overflow-x: hidden;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 47px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 47px;
  line-height: 27px;
  display: block;
  margin-bottom: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .chat {
  background: url(../images/icone-chat.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f26722;
}

.float-box .phone {
  background: url(../images/icone-tel.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f26722;
  font-size: 18px;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f26722;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f26722;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #f36e3c;
  border-radius: 14px;
  padding: 40px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
}

.modalMapa .close,
.modalFichaTecnica .close,
.modalImplantacao .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalMapa .modal-dialog,
.modalFichaTecnica .modal-dialog,
.modalImplantacao .modal-dialog {
  width: 1200px;
  margin: 50px auto;
}

.modalMapa .modal-body,
.modalFichaTecnica .modal-body,
.modalImplantacao .modal-body {
  padding: 0px;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #f36e3c;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 14px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  color: #fff;
  text-decoration: underline;
}

.cookies .box .btn_cookie {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #8996b9;
  color: #ffffff;
}

.modalFicha {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalFicha .modal-content {
  background-color: #fcd800;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalFicha .modal-body {
  padding: 8px;
}

.modalFicha .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .modalMapa .close,
  .modalFichaTecnica .close,
  .modalImplantacao .close {
    top: -26px;
    right: 0px;
  }
  .modalMapa .modal-dialog,
  .modalFichaTecnica .modal-dialog,
  .modalImplantacao .modal-dialog {
    width: auto;
    margin: 30% auto 0;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .modalFicha .modal-dialog {
    margin: 6% auto 0;
  }
}

.menu {
  width: 100%;
  position: fixed;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2bfc2+0,ffffff+35,ffffff+65,d2bfc2+100 */
  background: #d2bfc2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#d2bfc2), color-stop(35%, #ffffff), color-stop(65%, #ffffff), to(#d2bfc2));
  background: linear-gradient(to right, #d2bfc2 0%, #ffffff 35%, #ffffff 65%, #d2bfc2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2bfc2', endColorstr='#d2bfc2', GradientType=1);
  /* IE6-9 */
  border-color: transparent;
  min-height: auto;
  margin-bottom: 0px;
  border: 0px solid transparent;
  z-index: 361;
  border-radius: 0px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.24);
  height: 69px;
}

.menu .navbar-brand {
  height: auto;
  padding: 15px 0 0 0;
}

.menu .navbar-right {
  padding: 13px 0px;
}

.menu .navbar-right li > a {
  font-size: 12px;
  line-height: 12px;
  color: #536a8e;
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT Std';
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  outline: none;
}

.menu .navbar-right li > a:focus,
.menu .navbar-right li > a:hover {
  color: #f36e3c;
}

.navbar-toggle {
  margin-top: 15px;
  margin-right: 15px;
}

.menu .navbar-toggle {
  border-color: #fff;
}

.menu .navbar-toggle:focus,
.menu .navbar-toggle:hover {
  background-color: transparent;
}

.fases {
  width: 100%;
  position: fixed;
  z-index: 350;
  top: 69px;
  background-color: #003366;
  padding-top: 7px;
  padding-bottom: 7px;
}

.fases p {
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  letter-spacing: 6px;
}

/* Extra Small */
@media (max-width: 767px) {
  .menu {
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
  }
  .menu .navbar-header {
    padding-bottom: 5px;
  }
  .menu .navbar-brand {
    width: 65px;
    position: absolute;
    height: auto;
    padding: 5px 0 0px 5px;
  }
  .menu .navbar-right {
    padding: 0px 15px;
  }
  .menu .navbar-nav {
    margin: 0 -15px 7.5px;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu .navbar-right li > a {
    border-bottom: solid 1px #f36e3c;
    padding-top: 14px;
  }
  .fases {
    top: 62px;
  }
  .fases p {
    font-size: 9px;
    line-height: 12px;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-brand {
    width: 80px;
    position: absolute;
    height: auto;
    padding: 5px 0 0px 5px;
  }
  .menu .navbar-right li > a {
    padding: 15px 5px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu .navbar-brand {
    width: 130px;
    position: absolute;
    height: auto;
    padding: 5px 0 0px 5px;
  }
}

/* Large */
.home {
  padding-top: 98px;
}

#first {
  background: url(../images/girasol_home_1.png) 0% 0 no-repeat fixed;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 69px;
  left: 0px;
  width: 100%;
  z-index: 200;
}

#second {
  background: url(../images/girasol_home_2.png) 100% 0 no-repeat fixed;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 69px;
  left: 0px;
  width: 100%;
  z-index: 200;
}

.conceito {
  background: url(../images/bg_video.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
  margin-top: -5px;
}

.conceito .txt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.conceito .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.conceito .container {
  z-index: 200;
  position: relative;
}

.conceito .girasol_home_3 {
  position: absolute;
  bottom: -69%;
  left: 0;
}

/* Extra Small */
@media (max-width: 767px) {
  .home {
    padding-top: 88px;
  }
  #first {
    background: url(../images/girasol_home_1.png) 0% 0 no-repeat fixed;
    background-size: 40%;
    height: 300px;
    top: 62px;
  }
  #second {
    background: url(../images/girasol_home_2.png) 100% 0 no-repeat fixed;
    background-size: 40%;
    height: 300px;
    top: 62px;
  }
  .conceito {
    background: url(../images/bg_video_mobile.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: -6px;
  }
  .conceito .txt {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .conceito .tt {
    font-size: 15px;
    line-height: 44px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  .conceito .girasol_home_3 {
    position: absolute;
    bottom: -30%;
    left: 0;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  #first {
    background: url(../images/girasol_home_1.png) 0% 0 no-repeat fixed;
    background-size: 40%;
    height: 300px;
    top: 62px;
  }
  #second {
    background: url(../images/girasol_home_2.png) 100% 0 no-repeat fixed;
    background-size: 40%;
    height: 300px;
    top: 62px;
  }
  .conceito {
    background: url(../images/bg_video_mobile.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .conceito .txt {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .conceito .tt {
    font-size: 15px;
    line-height: 44px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

/* Medium */
/* Large */
.localizacao {
  background: url(../images/bg_localizacao.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.localizacao .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

.localizacao .tt span {
  font-weight: 900;
  font-style: normal;
}

.localizacao .txt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
}

.fotoAerea {
  background: url(../images/bg_fotoAerea.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fotoAerea .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 200;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .localizacao {
    background: url(../images/bg_localizacao-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .localizacao .tt {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .localizacao .txt {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .fotoAerea {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Small */
/* Medium */
/* Large */
.terrenos {
  background: url(../images/bg_terrenos.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}

.terrenos .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.terrenos .tt span {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
}

.terrenos .txt_1 {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 3px;
}

.terrenos .txt_2 {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 3px;
}

.terrenos .txt_3 {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
}

.terrenos .galeria {
  position: relative;
  z-index: 300;
}

.terrenos .BeneditoAbbud {
  position: relative;
  z-index: 200;
  margin-top: 60px;
}

.terrenos .BeneditoAbbud p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
}

.terrenos .girasol_home_4 {
  position: absolute;
  bottom: -30%;
  right: 0;
  z-index: 200;
}

/* Extra Small */
@media (max-width: 767px) {
  .terrenos {
    background: url(../images/bg_terrenos-mobile.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .terrenos .tt {
    font-size: 25px;
    line-height: 45px;
  }
  .terrenos .tt span {
    font-size: 36px;
  }
  .terrenos .txt_1 {
    font-size: 18px;
    line-height: 30px;
  }
  .terrenos .txt_2 {
    font-size: 16px;
    line-height: 26px;
  }
  .terrenos .txt_3 {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
  }
  .terrenos .BeneditoAbbud {
    margin-top: 40px;
  }
  .terrenos .BeneditoAbbud p {
    margin-top: 10px;
  }
  .terrenos .girasol_home_4 {
    width: 37%;
    position: absolute;
    bottom: -13%;
    right: 0;
  }
}

/* Small */
/* Medium */
/* Large */
.lazer {
  background: url(../images/bg_lazer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 80px;
  position: relative;
}

.lazer .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 200;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 30px;
}

.lazer .girasol_home_5 {
  position: absolute;
  bottom: -88%;
  left: 0;
  z-index: 200;
}

.diferenciais {
  position: relative;
}

.diferenciais .girasol_home_6 {
  position: absolute;
  bottom: -43%;
  right: 0;
  z-index: 200;
}

.eomelhor {
  background: url(../images/bg_galeria.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
}

.eomelhor .tt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

.eomelhor .txt {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

/* Extra Small */
@media (max-width: 767px) {
  .lazer {
    background: url(../images/bg_lazer-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .lazer .tt {
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .lazer .girasol_home_5 {
    width: 35%;
    position: absolute;
    bottom: -29%;
    left: 0;
    z-index: 200;
  }
  .diferenciais {
    position: relative;
  }
  .diferenciais .girasol_home_6 {
    width: 37%;
    position: absolute;
    bottom: -23%;
    right: 0;
  }
  .eomelhor {
    background: url(../images/bg_galeria-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .eomelhor .tt {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  .eomelhor .txt {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

/* Small */
/* Medium */
/* Large */
.contato {
  background: url(../images/bg_contato.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 10px;
}

.contato p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 23px;
  line-height: 43px;
  margin-bottom: 30px;
}

.contato .form {
  margin-top: 50px;
  margin-bottom: 60px;
  position: relative;
}

.contato .form-control {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  line-height: 1.42857143;
  text-transform: uppercase;
  height: 55px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  color: #000000;
  background-color: #dadeb9;
  background-image: none;
  border: 1px solid #dadeb9;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contato .form-control::-webkit-input-placeholder {
  color: #000000;
}

.contato .form-control:-ms-input-placeholder {
  color: #000000;
}

.contato .form-control::-ms-input-placeholder {
  color: #000000;
}

.contato .form-control::placeholder {
  color: #000000;
}

.contato textarea {
  height: 150px !important;
}

.contato .btn_enviar {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  padding: 6px 12px;
  font-size: 17px;
  line-height: 21px;
  width: 130px;
  height: 50px;
  border: 0px solid transparent;
  border-radius: 14px;
  background-color: #8996b9;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
  outline: none;
}

.endereco {
  width: 100%;
  background-color: #003366;
  padding-top: 13px;
  padding-bottom: 13px;
}

.endereco p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-top: 40px;
    background-color: #ffffff;
  }
  .contato p {
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .contato .form {
    margin-top: 30px;
  }
  .endereco p {
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 3px;
  }
}

/* Small */
/* Medium */
/* Large */
footer {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer figcaption {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #000;
}

footer figcaption {
  font-size: 15px;
  line-height: 15px;
}

footer p {
  font-size: 11px;
  line-height: 15px;
}

footer .navbar-nav {
  margin-top: 20px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 11px;
  line-height: 11px;
  border-right: 1px solid #000;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  footer {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  footer p {
    font-size: 11px;
    line-height: 15px;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  padding-bottom: 30px;
  padding-top: 100px;
}

.politica .politica-tt {
  padding-top: 30px;
  padding-bottom: 0px;
}

.politica .politica-tt h3 {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica {
    padding-top: 60px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */